.label {
   font-size: 0.8rem;
   text-align: left;
   position: relative;
   top: 5px;
}
/* button.button - кнопка с class="button", а то табы тоже через кнопку */
button.button {
   height: 30px;
   background-color: rgba(192, 192, 192, 0.5);
   border: none;
   border-radius: 5px;
}
button.button:hover {
   background-color: rgba(192, 192, 192, 1);
   transition: all 0.5s;
}

.input-wrapper {
   padding: 5px 10px 5px 10px;
   width: 100%;
}
.tabs {
   border: 1px solid #ccc;
   background-color: #f1f1f1;
}
.tab {
   border: none;
   padding: 15px 15px;
   margin: 1px 1px;
}
.tab:hover {
   background-color: #ddd;
}
span {
   font-size: 0.8rem;
}

